@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

@font-face {
    font-family: 'Bebas Neue';
    src: url('fonts/BebasNeue.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Aku&Kamu';
    src: url('fonts/Aku&Kamu.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #F2F2F2;
}
h1{
    text-align: left;
    color: #333333;
    padding-left: 40px;
    
    

}
.card-container-wrapper {
    display: flex;
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 15px; 
}
.card-container {
    max-width: 350px;
    min-width: 200px;
    max-height: 500px;
    width: 300px;
    height: 500px;
    background-color: white;
    border-radius: 12px;
    margin-bottom: 20px; 
}
.cardcontainer{
    max-width: 350px;
    min-width: 200px;
    max-height: 500px;
    width: 350px;
    height: 500px;
    background-color: white;
    margin: 0 auto 20px;
    padding: 10px;
     /* margin-left: auto;
    margin-right: auto; */
    transition: 0.3s;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem!important;
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important;
}
.cardcontainer:hover > photo{ 
    height: 200px;
    animation: none;
    
}
#card-container .col-md-3 {
    margin-bottom: 20px; /* margin between cards */
}

.photo{
    height: 300px;
    width: 100%;
    overflow: hidden; /* Hide the overflow, but doesn't work right*/
    transition: height 0.5s ease;
}
.photo img{
    height: 100%;
    width: 100%;
}
.txt1{
    margin: auto;
    text-align: center;
    font-size: 17px;
}
.content{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: -33px;
}
.taskPrice{
    width: 65px;
    height: 30px;
    background-color: #05de51;
    color: white;
    position: relative;
    align-items: center;
    top: -30px;
    padding-left: 10px;
    font-size: 20px;
    border-radius: 8px;
    
    
}
.TaskTitle{
    font-size:27px;
    position: relative;
    top: 33px;
}
.txt5{
    position: relative;
    top: 18px;
    color: #E74C3C;
    font-size: 23px;
}
.TaskDescription{
    position: relative;
    top: 10px;
}

.cardcontainer:hover > .photo{
    height: 200px;
    animation: move1 0.5s ease both;
    overflow: hidden; /*Doesn't do anything*/
}
.cardcontainer:hover > .content{
    height: 200px;
    overflow: hidden; /*Doesn't do anything */
}

@keyframes move1{
    0%{height: 300px} 
    100%{height: 200px}
}

.footer{
    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: -15px;
}
.btn{
    position: relative;
    top: 20px;
}
#heart{
    cursor: pointer;
}
.like{
    float: right;
    font-size: 22px;
    position: relative;
    top: 20px;
    color: #333333;
}
.fa-gratipay{
    margin-right: 10px;
    transition: 0.5s;
}
.fa-gratipay:hover{
    color: #E74C3C;
}
.txt3{
    color: gray;
    position: relative;
    top: 18px;
    font-size: 14px;
}
.comments{
    float: right;
    cursor: pointer;
}
.fa-clock, .fa-comments{
    margin-right: 7px;
}

.location-bar {
    background-color: #f8f8f8;
    padding: 10px 20px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.location-bar i {
    margin-right: 10px;
    color: #00d420;
}

#location-input {
    border: none;
    outline: none;
    background: transparent;
    font-size: 16px;
    width: 80px;
}
#taskDetailsContainer {
    display: flex;
    flex-direction: column;
    
/*  could put justify contents or align-contents */
    width: 100vh;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    padding: 20px;
  }
#detailImage {
    align-self: center; /*make sure the image is in the center of the ocntainer*/
    padding-top: 20px;
    width: 500px; 
    height: 300px; 
    object-fit: cover;
  }
  #detailTitle {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px; 
    margin-top: 10px;
  }
  #detailPrice {
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 10px;
  }
  #detailDescription {
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
  #commentsSection, #messageInput{
    text-align: left;
    text-indent: 40px;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;

  }
  #commentSectionTitle{
    text-align: left;
    font-weight: bold;
    font-size: larger;
    margin: 15px;
    text-indent: 40px;
    background-color: rgb(201, 201, 201);
    border-radius: 10px;
  }