@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: #f0f2f5; */
}

.btn-white-custom{
    background-color: white;
    color: black;
    border-color: white;
}

#intro{
    height: 80vh;
}
.image-section {
    background-color: #ffffff; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh; /
}

.image-container {
    text-align: center;
}

.image-container img {
    width: 100px; /* Set image width */
    height: auto;
    display: block;
    margin: 0 auto;
}

.image-container h4 {
    margin-top: 10px; /* Adjust the spacing between image and text */
}



.TaskSeller-section {
    background-color: #ffffff; /* Set your desired background color */
    display: flex;
    align-items: center;
    height: 30vh; /* Set the height of the section as per your requirement */
}

.text-container {
    flex: 1; /* Take up remaining horizontal space */
    padding: 20px;
}

.TaskImage-container img {
    width: 100%; /* Make the image fill the container */
    height: auto;
}



/* header {
    background-color: rgb(17, 164, 17);
    color: white;
    padding: 15px 0;
    text-align: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

header nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    align-items: center;
}

.auth-buttons button {
    background-color: #016f04;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s ease;
}

.auth-buttons button:hover {
    background-color: #0d420f;
}

.container {
    background-color: rgb(17, 164, 17);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

.left {
    text-align: center;
    margin-bottom: 30px;
}

.right {
    text-align: center;
} */

/* .second-slide {
    background-color: #f0f2f5;
    padding: 50px;
    text-align: center;
} */
